In [80]:
import pandas as pd
df = pd.read_csv('V5.csv')
df.head(5)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South
2,2009-01-02,2009,Waterbury,55720.0,140000.0,Single Family,Detached House,3,2,910.0,1.025953,South
3,2009-01-02,2009,Bridgeport,4775276.0,272900.0,Single Family,Detached House,3,1,971.0,1.025953,East
4,2009-01-02,2009,Bridgeport,112351.0,210000.0,?,Detached House,3,2,1092.0,1.025953,East

In [81]:
df.shape

(10000, 12)

1.Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 0th indexed row in the selected dataframe. (row/ column indexed from zero(0) in python/pandas)

In [82]:
even=df.iloc[::2,:]
even.iloc[0,3]

111440.0

2.Select all the even indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

In [83]:
even.iloc[332,3]

256200.0

3.Select all the odd indexed rows from the given dataset. What is the value in the 3rd indexed column of the 332th indexed row in the selected dataframe. (row/ column indexed from zero(0))

     Please consider case sensitivity while giving your solution capital letter ≠ small letter
      If it is a string don't write quotes in the solution.

In [84]:
odd = df.iloc[1::2,:]
odd.iloc[332,3]

352940.0

4.
2 points
Select all the odd indexed columns from the given dataset. What is the value in the 5th indexed column of the 100th indexed row in the selected dataframe. (row/ column indexed from zero(0))

    Please consider case sensitivity while giving your solution capital letter ≠ small letter
    If it is a string don't write quotes in the solution.

In [85]:
odd.iloc[100,5]

'Single Family'

5.Select all the even indexed columns and even indexed rows from the given dataset. What is the value in the 3th indexed column of the 255th indexed row in the selected dataframe. (row/ column indexed/starts from zero(0))

    Please consider case sensitivity while giving your solution capital letter ≠ small letter
    If it is a string don't write quotes in the solution.

In [86]:
b_even=df.iloc[::2,::2]
b_even.iloc[255,3]

'Detached House'

6.Determine the number of samples (rows) in the dataset that belong to the six most recent years, based on the provided data.

In [87]:
recent_six_year = sorted(df['Year'].unique())
recent_six_year=recent_six_year[-6:]
recent= df[df['Year'].isin(recent_six_year)]
recent.shape[0]

4749

7.,8.
Determine the number of samples (rows) in the dataset which has num_rooms = 3 and num_bathrooms = 3

In [88]:
filtered_data = df[(df['num_rooms'] == 3) & (df['num_bathrooms'] == 3)]
filtered_data.shape[0]

2730

9.Determine the number of samples (rows) in the dataset which has num_rooms = 3 or num_bathrooms = 3

In [89]:
nf =df[(df['Year']==2022) & (df['Locality']=='Greenwich') &(df['num_rooms'] == 3) & (df['Face'].isin(['North','East']))]
nf.shape[0]

42

10.
In the Year 2022, how many houses (rows) located in the Greenwich Locality have exactly num_room == 3, and facing towards either the North or East?

In [90]:
df['Date'] = pd.to_datetime(df['Date'])
august_data = df[df['Date'].dt.month == 8]
august_data.shape[0]

1050

11.
Calculate the number of samples(rows) that correspond to the month of August across all the years.?

In [91]:
 f = df.groupby('Locality')['Sale Price'].mean()
 f.idxmax()

'Greenwich'

Finished